body {
    font-family: Arial, sans-serif;
    background-color: #000000ee;
    margin: 0;
    padding: 0;
}

#corpo {
    width: 400px;
    height: 655px;
    background-color: #000000;
    margin: 0px auto;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #020202;
    margin-top: 80px;
}

h1 {
    color: #fff;
    text-align: center;
    padding: 12px;
}